<div id="modal-form-users-new" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
  </div>
  <div id="user-form">
    <%= render :partial =>"/users/form_users" %>
  </div>
</div>