<div id="modal-form-users-new" class="modal hide fade">
  <div class="modal-header">
    <font face="tahoma" color="#006DCC" size="5">Información del Usuario</font><a class="close" style="color: #ff0011;"><b>X</b></a>
  </div>
  <div id="user-form">
    <%= render :partial =>"/users/form_users" %>
  </div>
</div>