<div id="modal-form-folios-new" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
  </div>
  <div id="folios-form">
    <%= render :partial =>"/folios/form" %>
  </div>
</div>