<div id="menu_folio">
  <%= render :partial => "shared/tbar_menu" %>
</div>

<div id="msg-error" class="error span3"></div> <br>
<div id="form-folios"></div>


<div class="span2" id="new-folio">
  <%= link_to 'Nuevos Folios', new_folio_path, :class => 'btn btn-success', :remote => true %>
</div>
<br><br>
<div id="list-folios" class="span7">
  <%= render :partial => 'folios' %>
</div>
